#wrapper {
    padding-left: 0;
    transition: all 0.5s ease 0s;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    background: #512163 none repeat scroll 0 0;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
    font-size: 26px;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
@media (min-width: 768px) {
#wrapper {
    padding-left: 250px;
}
#wrapper.toggled {
    padding-left: 0;
}
#sidebar-wrapper {
    width: 250px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 0;
}
#page-content-wrapper {
    padding: 20px;
    position: relative;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
    position: relative;
}
}
